.PostItem {
    width: 44vw;
    background-color: #D8DFDB;

    display: flex;
    flex-direction: column;
    margin: 1vmin;
    padding: 1vh;

    border-radius: 3vh;
}

.TitleItem {
    height: 3vh;
    text-align: center;
    margin-bottom: 1vh;
    background-color: #b1aeae;
    border-radius: 2vh;
}

.ContentItem {
    overflow-wrap: anywhere;
    margin-bottom: 1vh;
}

.TagsAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #C3BFBF;
    height: 8vh;
    border-radius: 1vh;
}

.TagsItem {
    width: 33vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.TagsItem::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3vw;
    height: 1vh;
}

.TagsItem::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.TagInItem {
    background-color: #FFFFFF;
    border-radius: 1vmin;
    height: 2vh;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
}

.DateItem {
    height: 4vh;
    padding: 2vh;
    width: 10vw;
    horiz-align: center;
    vertical-align: center;
}
