input {
    height: 4vh;
    width: 24vw;
    margin-top: 1vh;
    font-size: 2vmin;
    border-radius: 2vmin;
    background-color: #7C7C7C;
    text-align: center;
    color: #C4C4C4;
}

input.error {
    border: 1vmin solid #de8181;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #CCBB24;
    text-align: center;
}

