.AutorizationInput {
    height: 4vh;
    width: 24vw;
    margin-top: 1vh;
    font-size: 2vmin;
    border-radius: 2vmin;
    background-color: #7C7C7C;
    text-align: center;
    color: #C4C4C4;
}

.AutorizationInput:focus {
    outline: none;
}

.AutorizationInput::placeholder {
    color: #CCBB24;
    text-align: center;
}

