.input {
    height: 32px;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #c5c5c5;

    border-radius: 8px;
}

.input.error {
    border: 1px solid red;
}

.input:hover {
    background-color: #c5c5c5;
}

input:focus {
    outline: none;

    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #FBD1DC
}