.TagsInput {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #498565;
    border-radius: 1vh;
    height: 30vh;

}


.InputButtonTag {
    margin-top: 1vh;
    height: 3vh;
    width: 23vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.InputTag {
    width: 15vw;
    border-radius: 1vmin;
}

.InputTag:focus {
    outline: none;
}

.ButtonTag {
    width: 5vw;
    border-radius: 1vmin;
}

.ButtonTag:focus {
    outline: none;
}



.TagAndButton{
    height: 3vh;
    width: 23vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vmin;
}

.Tag {
    width: 15vw;
    text-align: center;
    border-radius: 1vmin;
    background-color: #72a6ba;
    overflow: auto;
}

.TagsAll{
    overflow: auto;
}