.button {
    height: 32px;
    font-size: 15px;
    padding: 0 16px;

    border-radius: 8px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

.button:hover {
    background-color: #1ca28a;
    color: white;
}

.button:active {
    background-color: #009379;
}

.button:focus {
    outline: none;

    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #FBD1DC
}

.button[disabled] {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.primary {
    background-color: #34BBA3;
}